.containerz-10{
    margin-left: 20px;
}

.profile-edit-btn-10 {
    background-color: rgba(43, 235, 12, 0.7);
}

.profile-edit-btn-10:hover {
    background-color: rgb(37 201 11 / 84%);
}

@media screen and (max-width: 600px) {
    .containerz-10{
        margin-left: 0px;
    }
    .form-padding-10 {
        padding: 30px;
    }
    
    
 
}

@media screen and (min-width: 600px) and (max-width:992px) {

    .containerz-10 {
            margin-left: 0px;
    }
    .form-padding-10 {
        padding: 2vw;
    }




}